body{
    background-color: #ffd1dc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
}

@media (prefers-reduced-motion: reduce) {
    .animation {
        animation: none !important; /* Disable animation */
    }
}

.skip-main {
    position: absolute;
    overflow: hidden;
    top: auto;
    width: 1px;
    height: 1px;
    font-size: 25px;
}

.skip-main:focus {
    position: static;
    text-align: center;
    width: auto;
    height: auto;
    top: auto;
    border: 2px solid #301934;
}


h1{
    font-size: 4rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h2{
    font-size: 2rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

h3{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h4{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 40px
}

p {
    line-height: 50x;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}


img{
    max-width: 50%;
    border: solid 5px black;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 30px;
}

video{
    width: 50%;
    border: solid 5px black;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 30px;

}

.container>img, .container>video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
}

.likes {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    list-style-position: inside;
    margin-bottom: 80px;
    font-weight: 300;
    font-size: 1rem;
}

.ingredients, .description, .instructions{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    list-style-position: inside;
    margin-bottom: 80px;
    font-weight: 300;
    font-size: 1rem;
}

nav{
    background-color: rgb(255, 240, 240);
    box-shadow: 0px 0px 10px 5px #000000;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin: 0px 10px 3%;
    padding: 10px;
}

nav ul li {
    display: block;
    text-align: center;
}

nav ul li a {
    display: block;
    background-color: #f7f7f7;
    text-decoration: none;
    color: #000000;
    margin: 0px;
    padding: 12px;
}

nav ul li a:hover {
    background: #f1d63d;
    font-size: 2.2rem;
    text-decoration: underline;
    color:#0062ff;
}

.active{
    font-weight: bold;
    background-color: #2d1c1c;
    color: rgb(234, 130, 130);
    text-decoration: underline;
}

.page-item {
    margin: 30px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
    background-color: #ffffff;
    align-items: center;
}

.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    align-items: center;
    justify-items: center;
    background-color: #ffe3e3;
    grid-gap: 10px
}

.grid-gallery img {
    grid-column: 1/3;
    width: 100%;
}

.grid-gallery video {
    grid-column: 1/3;
}

.grid-gallery h4 {
    /* grid-column: 1/3; */
    align-items: center;
}

.grid-gallery p {
    grid-column: 1/3;
    align-items: center;
}

.grid-gallery h3 {
    grid-column: 1/3;
    align-items: center;
}

@media (min-width: 750px) {
    .skip-main {
        position: static;
        display: block;

        text-align: center;
        height: 30px;
        color:#000000;
        text-decoration: none;
        background-color: #92d5f4bb;
    }

    body {
        font-size: 16px;
        background-color:#ffffffbb;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
        box-shadow: #222;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    .active{
        font-weight: bold;
        background-color: #060f1e;
        color: rgb(221, 188, 39);
        text-decoration: underline;
    }

    p, .likes, .ingredients, .description, .instructions {
        line-height: 1.6;
        font-size: 1.2rem;
        background-color: rgb(255, 255, 255);

    }

    .likes {
        display: grid;
        justify-content: center;
    }


    p{
        background-color:  rgb(255, 255, 255);
    }
    
    .page-item{
        background-color: #4f7b8fbb;
    }

    img, video {
        max-width: 70%;
    }

    .container > img, .container > video {
        max-width: 70%;
    }

    nav{
        background-color: #1e677b;
    }

    nav ul {
        grid-template-columns: repeat(4, 1fr);
    }

    nav ul li a:hover {
        font-size: 1.2rem;
    }

    .grid-gallery {
        grid-template-columns: repeat(2, 1fr);
        background-color: aliceblue;
    }

    .photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .introduction{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .intro{
        background:url(../images/bangkok-nongif.jpeg);
    }

}

@media screen and (min-width: 1200px) {
    p {
        font-size: 20px;
    }

    li {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
        display: flex;
        justify-content: center;
        
    }

    body{
        height: 1500px;
    }

    main{
        margin-left: 50px;
        margin-right: 50px;
    }

    header{
        margin-left: 0;
        margin-right: 0;
    }

    .shell{
        width: 100%;
        display:flex;
        flex-direction: column;
    }

    .Home{
        width:100%;
        height: 700px;
        overflow: hidden;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: clip-path o.5s ease;

    }
    .Homeimg{
        width: 100%;
        height: 100%;
        background: url(../images/bangkok-nongif.jpeg);
        background-size: cover;
        transform: scale(1);
        transition: transform 0.5s ease;
    }

    .main{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    }

    .main img{
        width: 50%;
    }

    .intro{
        background:none;
    }

    .grid-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: aliceblue;
    }
    .grid-gallery img, .grid-gallery video {
        grid-column: 1/2;
        width: 100%;
    }

    .grid-gallery .main_images{
        grid-column: 1/3;
    }

    .description{
        margin-left: 100px;
        margin-right: 100px;
    }
}



